<!-- DEBUGGING -->
<!-- <div class="bg-secondary-subtle border border-secondary-subtle p-3 mb-3">
  <pre>ContenContainerGroup</pre>
  <pre>{{ contentContainerGroup() | json }}</pre>

  <pre>contentContainers</pre>
  <pre>{{ contentContainers() | json }}</pre>
</div> -->
<!-- /DEBUGGING -->

<ul ngbNav #nav="ngbNav" [(activeId)]="activeIndex" class="nav-tabs">
  @for (container of contentContainers(); track $index) {
    <li [ngbNavItem]="$index">
      <button ngbNavLink title="{{ container.contentFromDomain.title }}">
        [Type]: {{ container.contentFromDomain.shortTitle }}
      </button>
      <ng-template ngbNavContent>
        <app-content-container [contentContainer]="container"></app-content-container>
      </ng-template>
    </li>
  }
</ul>
<div [ngbNavOutlet]="nav"></div>

<!-- @if (contentContainers()[0].contentFromDomain.id) {
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeIndex" class="nav-tabs">
    @for (container of contentContainers(); track $index) {
      <li [ngbNavItem]="$index">
        <button ngbNavLink title="{{ container.contentFromDomain.title }}">
          {{ container.contentFromDomain.shortTitle }}
        </button>
        <ng-template ngbNavContent>
          <app-content-container [contentContainer]="container"></app-content-container>
        </ng-template>
      </li>
    }
  </ul>
  <div [ngbNavOutlet]="nav"></div>
} @else {
  <app-content-container [contentContainer]="contentContainers()[0]"></app-content-container>
} -->
