<!-- Alle skjmaer (og annet innhold) som skal kunne vises i en tab må ha hver sin @case i denne switch-en. -->
@switch (id()) {
  @case (GisbasComponentId.VelkommenTilDemo) {
    <app-velkommen-til-demo></app-velkommen-til-demo>
  }
  @case (GisbasComponentId.Henvendelse) {
    <!-- TODO: after a GisbasComponent gets data from server -> ViewState must be updated somehow... -->
    <app-henvendelse></app-henvendelse>
  }
  @case (GisbasComponentId.StandardSok) {
    <app-standars-sok></app-standars-sok>
  }
  @case (GisbasComponentId.InfokortToksikologi) {
    <app-infokort></app-infokort>
  }
}

<!-- DEBUGGING -->
<div class="bg-light border p-3 my-5">
  <pre>ContenContainer</pre>
  <pre>{{ contentContainer() | json }}</pre>
</div>
<!-- /DEBUGGING -->
